body { font-family: "Gill Sans Extrabold", Helvetica, sans-serif }

table.tb { border-collapse: collapse; width:300px; }
  .tb th, .tb td { padding: 5px; border: solid 1px #777; }
  .tb th { background-color: lightblue;}